.event-container-list {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  float: right;
  width: 47.5vw;

  top: 25px;
  height: 80vh;
  overflow: hidden;

  background-color: rgba(0,0,0,.5);
  border-radius: 5px;

  .event-list {
    position: relative;
    height: 100%;
    margin: 0 27px 27px 27px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 5px;
  }

  .event-list-really {
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    border-radius: 5px;
  }

  .event-list-item {
    position: relative;
    overflow: hidden;

    & + .event-list-item::before {
      /* flow */
      content:'';
      display: block;
      width: calc(100% - 100px);
      height: 1px;
      right: 0;
      top: 0;
      position: absolute;

      /* view */
      background-image: linear-gradient(to left, rgba(0,0,0,.07) 0%, rgba(0,0,0,.05) 50%, rgba(0,0,0,.015) 97.5%, transparent 100%);
    }
  }

  .meetup-info-item {
    color:black;
  }

  .meetup-link {
    color: #FF1177;
    margin-bottom: 8px;
  }

  .meetup-info-item-tags {
    color: teal;
  }
}
