.event-container-list {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  float: right;
  width: 47.5vw;

  top: 25px;
  height: 80vh;
  overflow: hidden;

  background-color: rgba(0,0,0,.5);
  border-radius: 5px;

  .event-list {
    position: relative;
    height: 100%;
    margin: 0 27px 27px 27px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 5px;
  }

  .event-list-really {
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    border-radius: 5px;
  }

  .event-list-item {
    position: relative;

    & + .event-list-item {
      border-top: 1px solid #ddd;
    }
  }
}
