/*-----index------*/
.navbar-meetup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile-view-toggle {
  display: inline-block;

  & + & {
    padding-left: 20px;
  }

  .profile-view-toggle-link {
    color: white !important;
    text-decoration: none !important;

    &:hover {

    }
  }
}

*:focus {
  outline: none !important;
}
