/*-----index------*/
header .navbar-brand{
  padding: 0;
  display:inline-block;
  margin: 20px 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
}

header .navbar-right{
  float: right !important;
  list-style: none;
}

header .nav-left{
  list-style: none;
  padding: 0;
}

header .nav-left li{
 float: left;
 padding-left: 25px;
}

header .nav-left li:first-child{
  padding-left: 0;
}

header .navbar-default{
  border: none !important;
  margin-bottom: 0;
   -webkit-border-radius: 0;
      -moz-border-radius: 0;
          border-radius: 0;
  background-color: rgba(9,0,0,0.4);
  color: #ffffff !important;
  padding-left: 20px;
  padding-right: 20px;
}
