.navbar-auth {
  /* flow */
  padding: 5px;
}

.profile-view-toggle {
  &:visited {
    color: inherit;
  }
  &:hover {
    color: #fff;
  }
}

.navbar-header {
    z-index: 1;
    cursor: pointer;
}

.fa {
  transition: font-size 0.3s ease-in-out;
  display: inline-block;
  width: 14px;
  text-align: center;
}

.glyphicon {
    color: #fff;
}

.navbar-brand,
.navbar-brand:visited,
.navbar-brand:focus {
    color: #000;
    font-size: 23px;
    font-weight: 200;
    margin-right: 22px;
    transition: color 0.2s ease-in-out;
    padding-left: 15px;
}

.navbar-brand b {
  font-weight: 500;
}

.navbar-right {
    padding-top: 1px;
    padding-right: 10px;
}

.nav-button, .nav-button:focus {
  display: inline-block !important;
  color: #e0e4e4;
  font-size: 14.5px;
  font-weight: 100;
  white-space: nowrap;
  cursor: pointer !important;
}

.profile-view-toggle, .log-out-button {
  text-decoration: none !important;
}

.nav-input {
  color: #332f2b;
}

.nav-button:hover {
  color: #fff;
}

.profile-view-toggle, .log-out-button {
  &:hover, &:focus {
    background-color: transparent !important;
    border: none;
  }
}

.local-auth-button {
  background-color: #332f2b;
}

.o-auth-btn {
  color: #FF1177;
  transition: color .2s;
  text-decoration: none !important;
}

.nav-button {
  transition: color .2s;
}

.o-auth-btn:hover {
  color: #fff;
}

.user-photo {
  display: none !important;
  vertical-align: middle;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #f8e813;
  background: #000 no-repeat center /contain;
  cursor: default;
}

.user-photo.show {
  display: inline-block !important;
}

.auth-error {
  color: red;
  text-align: right;
}
