.search {
  position: relative;
  height: 42px;
  margin: 16px 27px 0 27px;
  padding: 7px 0;
  margin-bottom: 23px;
  overflow: hidden;
  z-index: 1;

  .search-input-container {
    position: absolute;
    box-sizing: content-box;
    padding-bottom: 40px;
    /*$left-margin: 41px;*/
    height: 23px;
    width: 100%;
    /*left: $left-margin;*/
    font-size: 14px;
    overflow-x: auto;
    overflow-y: hidden;
    /*// flexbox*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    .search-tag {
      /*// positioning*/
      position: relative;
      top: 2px;
      height: 25px;
      /*// box*/
      margin-top: 2.5px;
      margin-right: 5px;
      padding: 3px 7px;
      border: 1px solid #888;
      border-radius: 4px;
      /*// font*/
      font-family: Lato;
      color: #FF1177;
      font-style: italic;
      font-weight:300;
      /*// flexbox*/
      flex-grow: 0;
      flex-basis: content; // size to fit content
      white-space: nowrap;
      background-color: white;
      cursor: default;

      .close-icon {
        width: 8.5px;
        height: 8.5px;
        margin-left: 6px;
        color: #888;
        cursor: pointer;
      }
    }
    .search-input {
      /*// box*/
      margin: 5px 0 0 0.5px;
      outline: none;
      border: 0;
      padding-left: 5px;
      border-radius: 5px;
      height: 24px;
      /*// font*/
      font-family: Lato;
      color: #4a4a4a;
      /*// flexbox*/
      flex-grow: 1;
      &::-webkit-input-placeholder {
        font-family: Lato;
        font-style: italic;
        color: $midGray;
      }
      &:-moz-placeholder {
        font-family: Lato;
        font-style: italic;
        color: $midGray;
      }
      &::-moz-placeholder {
        font-family: Lato;
        font-style: italic;
        color: $midGray;
      }
      &:-ms-input-placeholder {
        font-family: Lato;
        font-style: italic;
        color: $midGray;
      }
    }
  }
}
